//colors
$colors: (
        "lowerdark":#ebebeb,
        "lowergrey":#f6f7f9,
        "dark":#33373d,
        "gray":#969ba3,
        "blue":#4284ed,
        "green":#7ed321,
        "orange":#f0643a,
        "yellow":#f0c53a,
        "purple":#a091ff,
        "red":#ed424b,
        "white": #fff,
);

// font size
$base-font-size: 0.0625rem  /* 1/16 */ ;
$font-sizes: (
        "13":13,
        "14":14,
        "15":15,
        "16":16,
        "18":18,
);

// spacing
// 0-5: 0
// .mt-1  => margin top  .pb-2
$spacing-types: (
        m: margin,
        p: padding,
);
$spacing-directions: (
        t: top,
        r: right,
        b: bottom,
        l: left,
);
$spacing-base-size: 0.0625rem  /* 1/16 */ ;
$spacing-sizes: (
        0: 0,
        1: 5,
        2: 10,
        3: 15,
        4: 20,
        5: 25,
        6: 30
);

$flex-jc: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
);
$flex-ai: (
        start: flex-start,
        end: flex-end,
        center: center,
        stretch: stretch,
);
