@import "~normalize.css/normalize.css";
@import "../iconfont/iconfont.css";
@import "variable";
//reset
* {
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #33373d;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
}

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
  /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
  font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; color: inherit;}
/*a:hover { text-decoration: underline; }*/

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
  font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 重置 hr */
hr {
  border: none;
  height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }

em {
  font-style: normal
}

//colors
@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
  .text-#{$colorKey}-i {
    color: $color !important;
  }
  .bg-#{$colorKey}-i {
    background-color: $color !important;
  }
}

// text align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}
//float

@each $var in (left,right){
  .float-#{$var}{
    float: $var;
  }
}

//font-size fs-
@each $key, $val in $font-sizes {
  .fs-#{$key} {
    font-size: $base-font-size*$val;
  }
}

// m-0, mx-0
@each $typeKey, $type in $spacing-types {
  // .m-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }
  // .mx-1 , .my-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }
  // .mt-1
  @each $directionKey, $direction in $spacing-directions {
    @each $sizeKey, $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}

.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}

// flex
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}

@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}


.unlogin-page {
  min-height: 500px;
  min-height: calc(100vh - 8.75rem)
}
.login-page{
  min-height: 556px;
  min-height: calc(100vh - (84rem / 16))
}

[data-size=''] {
  display: block
}
[data-size='1'] {
  width: 1.25rem
}
[data-size='2'] {
  width: 2.5rem
}
[data-size='3'] {
  width: 3.75rem
}
[data-size='4'] {
  width: 5rem
}
[data-size='5'] {
  width: 6.25rem
}
[data-size='6'] {
  width: 7.5rem
}
[data-size='7'] {
  width: 8.75rem
}
[data-size='8'] {
  width: 10rem
}
[data-size='9'] {
  width: 11.25rem
}
[data-size='10'] {
  width: 12.5rem
}
[data-size='11'] {
  width: 13.75rem
}
[data-size='12'] {
  width: 15rem
}
[data-size='13'] {
  width: 16.25rem
}
[data-size='14'] {
  width: 17.5rem
}

em {
  font-style: normal
}
