@import "~normalize.css/normalize.css";
@import "../iconfont/iconfont.css";
@import "variable";
//reset
* {
  box-sizing: border-box;
  outline: none;
}
//html {
//  font-size: 16px
//}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #33373d;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
}

//colors
@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}

// text align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

//font-size fs-
@each $key, $val in $font-sizes {
  .fs-#{$key} {
    font-size: $base-font-size*$val;
  }
}

// m-0, mx-0
@each $typeKey, $type in $spacing-types {
  // .m-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }
  // .mx-1 , .my-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }
  // .mt-1
  @each $directionKey, $direction in $spacing-directions {
    @each $sizeKey, $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}

.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}

// flex
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}

@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}


.unlogin-page {
  min-height: 500px;
  min-height: calc(100vh - 8.75rem)
}
.login-page{
  min-height: 556px;
  min-height: calc(100vh - (84rem / 16))
}

[data-size=''] {
  display: block
}
[data-size='1'] {
  width: 1.25rem
}
[data-size='2'] {
  width: 2.5rem
}
[data-size='3'] {
  width: 3.75rem
}
[data-size='4'] {
  width: 5rem
}
[data-size='5'] {
  width: 6.25rem
}
[data-size='6'] {
  width: 7.5rem
}
[data-size='7'] {
  width: 8.75rem
}
[data-size='8'] {
  width: 10rem
}
[data-size='9'] {
  width: 11.25rem
}
[data-size='10'] {
  width: 12.5rem
}
[data-size='11'] {
  width: 13.75rem
}
[data-size='12'] {
  width: 15rem
}
[data-size='13'] {
  width: 16.25rem
}
[data-size='14'] {
  width: 17.5rem
}
